---
interface Props {
	content?: string;
	href?: string;
	label?: string;
}

const { content, href, label } = Astro.props;
---

<a aria-label={label} class="btn btn-neutral" href={href}>
	<slot name="icon" />
	{content}
</a>
