---
import { basics } from "@/data/data.json";
import { Icon } from "astro-icon/components";
---

<footer class="footer footer-center gap-y-4 bg-base-300 p-4 py-6">
	<aside>
		<p class="font-bold">Ignacio Revainera</p>
		<p>{new Date().getFullYear()}</p>
	</aside>
	<nav>
		<div class="grid grid-flow-col gap-4">
			{
				basics.profiles.map((profile) => (
					<a
						aria-label={`Ir a ${profile.network}`}
						href={profile.url}
					>
						<Icon name={profile.icon} />
					</a>
				))
			}
		</div>
	</nav>
</footer>
