---
import { Icon } from "astro-icon/components";
import ButtonNeutral from "../button/ButtonNeutral.astro";
import ThemeToggler from "../button/ThemeToggler.astro";

export const links = [
	{ name: "Home", href: "home", icon: "ri:home-fill" },
	{ name: "Work", href: "work", icon: "ri:suitcase-fill" },
	{ name: "Education", href: "education", icon: "ri:book-3-fill" },
	{ name: "Projects", href: "projects", icon: "ri:dashboard-fill" },
	{ name: "Skills", href: "skills", icon: "ri:puzzle-2-fill" },
	{ name: "About", href: "about", icon: "ri:user-fill" },
	{ name: "Contact", href: "contact", icon: "ri:message-2-fill" },
];
---

<ul
	class="menu menu-horizontal sticky top-0 z-10 grid grid-cols-4 place-content-center gap-2 rounded-box rounded-t-none bg-base-300 p-3 sm:grid-cols-8"
>
	{
		links.map((link) => (
			<li>
				<ButtonNeutral label={link.name} href={`#${link.href}`}>
					<Icon name={link.icon} size={20} slot="icon" />
				</ButtonNeutral>
			</li>
		))
	}
	<li>
		<ThemeToggler />
	</li>
</ul>

<style>
	ul {
		animation: scroll linear both;
		animation-timeline: scroll(root);
		animation-range: 0 10%;
	}

	@keyframes scroll {
		to {
			@apply shadow-2xl;
		}
	}
</style>
