---
import { basics } from "@/data.json";
import Card from "@components/shared/layout/Card.astro";
import Heading2 from "@/components/shared/text/Heading2.astro";
import Section from "@/components/shared/layout/Section.astro";
---

<Section id="about">
	<Heading2 content="Sobre mí" />
	<Card>
		<div slot="card-body">
			<div>
				<p>{basics.summary}</p>
			</div>
		</div>
	</Card>
</Section>
